/* -------------------------- GENERAL -------------------------- */

:root {
	--gray: #efefef;
	--orange: #E65722;
}

*
{
    margin-left: 0;
	margin-right: 0;
    
}

body {
  color: #333;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a:visited {
  color: #74638f;
}
a {
  color: #002f68da;
}

h1 .orange 
{	
	position: relative;
	left: -13px;
	top: 1px;
    color: var(--orange);
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--orange);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1.8em;
}

/* -------------------------- SECTIONS -------------------------- */

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption {
  margin: 15px 0px 25px 0px;
}

h1 sup {
	text-transform: lowercase;	
	font-size: 1.0rem;
	position: relative;
	top: -4px;
}


#title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--orange);
  width: 400px;
  margin: 0 auto 10px auto;
  text-transform: uppercase;
  padding-bottom:10px;   
}
#title h2 {
  font-weight: normal;
  font-style: italic;
  border-bottom: 1px solid var(--orange);
  width: 400px;
  margin: 10px auto 20px auto;
  padding-bottom:10px; 
}

#title {
	margin: -10px 0px 10px 0px;
}

#title,
#tribute-info {
  background-color: var(--gray);
  padding: 10px;
}

#tribute-info h2 {
border-bottom: 1px solid var(--orange);
  width: 400px;
  margin: 0 auto 20px auto;
  padding-bottom:10px;   
	
}

#tribute-info ul li {
  text-align: justify;
  padding: 10px;
}

/* -------------------------- ANIMATION -------------------------- */
#footer {
  padding: 30px;
}

aside {
  margin: auto;
  width: 250px;
}

.loading {
  padding: 3px;
  background-size: 130%;
  height: 50px;
  line-height: 46px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.text,
.border {
  z-index: 5;
  border-radius: 10px;
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
  right: 4px;
  display: block;
}

.text {
  top: 7px;
}

.border {
  border: 2px dashed #333;
  clip: rect(0, 0, 0, 0);
  animation: maskBorder 2s infinite;
}

@keyframes maskBorder {
  0% {
    clip: rect(0, 50px, 10px, 0);
  }

  20% {
    clip: rect(0, 250px, 10px, 0);
  }

  35% {
    clip: rect(0, 250px, 10px, 190px);
  }

  50% {
    clip: rect(10px, 250px, 50px, 190px);
  }

  60% {
    clip: rect(40px, 250px, 50px, 190px);
  }

  70% {
    clip: rect(40px, 250px, 50px, 0px);
  }

  85% {
    clip: rect(40px, 10px, 50px, 0px);
  }

  90% {
    clip: rect(0, 10px, 50px, 0px);
  }

  100% {
    clip: rect(0, 10px, 10px, 0px);
  }
}
